*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html,body{
  scroll-behavior: smooth;
}
body{
  font-family:  'Noto Sans', sans-serif;
  width: 100%;
  color:#FFFFFF ;
  background:#0B2A3C ;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

