.about{
    font-family:  'Noto', serif;
    color:#C7D6DF ;
}

@media (max-width : 420px){
    #About{
        padding: 32px 20px 40px;
        min-height:100vh;
    }
    .number-two{
        font-size: 28px;
    }
    .boss{
        flex-direction: column;
    }
    .image{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .image img{
        height: auto;
        order: 2;
        max-width:400px ;
        width: 100%;
    }
    .text{
        width: 100%;
        order: 1;
        
    }
    .about{
        font-size: 18px;
        margin-top:-15px;
        font-weight: 500;
    }
}
@media (max-width : 380px){
    #About{
        padding:25px 15px 0;
        min-height:100vh;
    }
    .first{
        margin-top: -40px;
    }
    .image img{
        margin-top: -20px;
    }
}