.first{
  font-family:  'Noto', serif;
}
@media(max-width: 420px){
    #Home{
        width: 100%;
        min-height: 130vh;
        padding: 0 20px ;
        flex-direction: column;
        align-items: flex-start;
    }
    .main-text{
       width: 100%; 
       justify-content: flex-start;
       display: flex;
       flex-direction: column;
       order: 2;
    }
    .main{
        font-size: 2.5rem;
        margin-top: 5px;
        font-weight: 600;
    }
    .main2{
        font-size: 1.5rem;
    }
    
    .buttons{
        width: 140px;
        font-size: 12px;
        font-weight: 200;
        text-align: center;
        margin-top: -20px;
    }
    .first{
        margin-bottom: 10px;
    }
    .image{
        justify-content: flex-start;
        margin-top: 0;
        width: 100%;
        order: 1;
    }
}

@media(max-width: 380px){
    #Home{
        padding: 0 15px;
    }
    .first{
        margin-bottom: 5px;
        padding-top: 45px;
    }
    .button{
        gap: 12px;
    }
    .buttons{
        font-size: 10px;
    }
    
}