@media (max-width: 420px){
    #Services{
        padding: 40px 20px 20px;
    }
}

@media (max-width: 380px){
    #Services{
        padding: 40px 15px 20px;
    }
    .number-two{
        font-size: 28px;
    }
    .first{
        font-size: 15px;
    }
}